<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroundStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <GroundStation.Properties.Settings>
                <setting name="tbxTx1Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxTx2Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxTx3Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="cbxBaudRateStr" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxIntervalStr" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolCName1Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolCName2Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolCName3Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolCName4Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolSName1Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolSName2Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolSName3Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxRolSName4Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitCName1Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitCName2Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitCName3Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitCName4Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitSName1Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitSName2Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitSName3Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="tbxPitSName4Str" serializeAs="String">
                        <value />
                </setting>
                <setting name="TabIndexInt" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="cbxBaudRate2Str" serializeAs="String">
                        <value />
                </setting>
        </GroundStation.Properties.Settings>
    </userSettings>
</configuration>